@media (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  html {
    background: #fff;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2% 4% 0;
    background: #f8e3ff;
  }

  .bg {
    background-image: url("images/Untitled-1.png");
    background-repeat: no-repeat;
    background-size: 100% 130vh;
    width: 100%;
    height: 100vh;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #bb00ff;
    height: 70px;
    
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .head h1 {
    font-size: 3.5em;
    color: #fff;
    margin-left: 70px;
  }
  .list i{
  font-size: 0;
  }
  .navigation {
    width: 100%;
    padding-right: 20px;
    margin-top: -15px;
    direction: rtl;
  }
  
  .navigation a {
    color: #fff;
    padding: 0 4px;
  }

  .navigation a:hover {
    text-decoration: underline;
  }

  button {
    color: #fff;
    background: #ff01c4;
    font-size: 12pt;
    padding: 10px 10px;
    border: none;
    border-radius: 10px 10px 10px 0;
    outline: none;
    cursor: pointer;

    position: absolute;
    top: 70%;
    left: 20%;

    transition: 0.4s;
  }

  button:hover {
    transform: scale(1.1);
  }

  .section-1 {
    text-align: center;
  }

  .section-1 h1 {
    color: #bb00ff;
    font-size: 2.4em;
    font-weight: 700;
    line-height: 200px;
  }

  .cords {
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .cord {
    width: calc(80% / 3);
    color: #fff;
    background: #eabdfb;
    margin: 2%;
    border-radius: 15px;
    box-shadow: -3px 3px 10px #c1c1c1;

    transition: 0.4s ease-in-out;
  }

  .cord:hover {
    transform: scale(1.1);
    box-shadow: -7px 7px 40px #c1c1c1;
  }

  .section-1 i {
    font-size: 3.5em;
    color: #71009a;
    padding-top: 30px;
  }

  .section-1 h2 {
    font-size: 2em;
    color: #71009a;
    padding-top: 35px;
  }

  .section-1 p {
    width: 80%;
    color: #71009a;
    margin: 0 auto;
    font-size: 1.25em;
    font-weight: 400;
    padding: 30px 0;
  }

  .section-2 {
    height: 90vh;
    margin: 150px auto 0;
  }

  .img {
    margin: 0 2%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .img img {
    width: calc(80% / 5);
    display: inline;
    margin: 2%;
    border-radius: 5px;
    box-shadow: -2px 2px 10px #894e9d;
    transition: 0.4s ease-in-out;
    opacity: 70%;
  }

  .img img:hover {
    transform: scale(1.4);
    box-shadow: -4px 4px 40px #894e9d;
    opacity: 100%;
  }

  .section-2 h3 {
    color: #000;
    font-size: 6em;
    text-align: center;
    padding-top: 60px;
    opacity: 20%;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  html {
    background: #fff;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2% 4% 0;
    background: #f8e3ff;
  }

  .g {
    background-image: url("images/Untitled-1.png");
    background-repeat: no-repeat;
    background-size: 100% 130vh;
    width: 100%;
    height: 100vh;
  }
  .list {
    font-size: 0;
  }
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    position: sticky;
    top: 0;
    background: #bb00ff;
    z-index: 999;
  }

  .head h1 {
    font-size: 3em;
    color: #fff;
    margin-left: 50px;
    margin-top: 10px;
    height: 70px;
  }

  .navigation {
    width: 45%;
    direction: rtl;
    margin-right:-180px;

    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
  }

  .navigation a {
    color: #fff;
    font-size: 15px;
    padding: 3px;
    margin: 3px 0;
  }

  .navigation a:hover {
    text-decoration: underline;
  }

  button {
    color: #fff;
    background: #ff01c4;
    font-size: 11pt;
    padding: 10px 10px;
    border: none;
    border-radius: 10px 10px 10px 0;
    outline: none;
    cursor: pointer;

    position: absolute;
    top: 65%;
    left: 15%;

    transition: 0.4s;
  }

  button:hover {
    transform: scale(1.1);
  }

  .section-1 {
    text-align: center;
  }

  .section-1 h1 {
    color: #bb00ff;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 200px;
  }

  .cords {
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .cord {
    width: 26.66667%;
    height: 280px;
    overflow: hidden;
    color: #fff;
    background: #eabdfb;
    margin: 20px;
    border-radius: 15px;
    box-shadow: -3px 3px 10px #c1c1c1;

    transition: 0.4s ease-in-out;
  }

  .cord:hover {
    transform: scale(1.1);
    box-shadow: -7px 7px 40px #c1c1c1;
  }

  .section-1 i {
    font-size: 2.5em;
    color: #71009a;
    padding-top: 30px;
  }

  .section-1 h2 {
    font-size: 1.75em;
    color: #71009a;
    padding-top: 35px;
  }

  .section-1 p {
    width: 90%;
    color: #71009a;
    margin: 0 auto;
    font-size: 1.25em;
    font-weight: 400;
    padding: 30px 0 15 px;
  }

  .section-2 {
    height: 90vh;
    margin: 150px auto 0;
  }

  .img {
    margin: 0 2%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .img img {
    width: 25%;
    display: inline;
    margin: 20px;
    border-radius: 5px;
    box-shadow: -2px 2px 10px #894e9d;
    transition: 0.5s ease-in-out;
    opacity: 70%;
  }

  .img img:hover {
    transform: scale(1.2);
    box-shadow: -4px 4px 40px #894e9d;
    opacity: 100%;
  }

  .section-2 h3 {
    color: #000;
    font-size: 6em;
    text-align: center;
    padding-top: 60px;
    opacity: 20%;
  }
}
@media (min-width: 240px) and (max-width: 425px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  html {
    background: #fff;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2% 4% 0;
    background: #f8e3ff;
  }

  .bg {
    background-image: url("images/Untitled-1.png");
    background-repeat: no-repeat;
    background-size: 100% 130vh;
    width: 100%;
    height: 100vh;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #bb00ff;
  }

  .head h1 {
    font-size: 2em;
    color: #fff;
    margin-left: 45px;
    line-height: 45px;
  }

  .navigation {
    text-align: center;
    background: #bb00ff;
    direction: rtl;
    padding-right: 5px;

    display: none;
    grid-template-rows: repeat(1, auto);
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .list{
   color: #fff;
   background: #bb00ff;
   font-size: 22px;
   margin: 0 20px;
   /* padding: 0 15px; */
   line-height: 45px;
   cursor: pointer;
  }

  .list:hover > .navigation {
    display: grid;
    position: absolute;
    top: 48px;
    right: 14px;
   }
   
   .navigation a {
    color: #fff;
    background: #bb00ff;
    font-weight: bold;
    font-size: 10px;
    margin: 0 3px;
    padding: 0 1px;
  }

  .navigation a:hover {
    text-decoration: underline;
  }

  button {
    color: #fff;
    background: #ff01c4;
    font-size: 8pt;
    padding: 10px 10px;
    border: none;
    border-radius: 10px 10px 10px 0;
    outline: none;
    cursor: pointer;

    position: absolute;
    top: 65%;
    left: 15%;

    transition: 0.4s;
  }

  button:hover {
    transform: scale(1.1);
  }

  .section-1 {
    text-align: center;
  }

  .section-1 h1 {
    color: #bb00ff;
    font-size: 1em;
    font-weight: 700;
    line-height: 200px;
  }

  .cords {
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .cord {
    width: 30%;
    height: 200px;
    overflow: hidden;
    color: #fff;
    background: #eabdfb;
    margin: 20px;
    border-radius: 15px;
    box-shadow: -3px 3px 10px #c1c1c1;

    transition: 0.4s ease-in-out;
  }

  .cord:hover {
    transform: scale(1.1);
    box-shadow: -7px 7px 40px #c1c1c1;
  }

  .section-1 i {
    font-size: 1.5em;
    color: #71009a;
    padding-top: 30px;
  }

  .section-1 h2 {
    font-size: 1em;
    color: #71009a;
    padding-top: 35px;
  }

  .section-1 p {
    width: 90%;
    color: #71009a;
    margin: 0 auto;
    font-size: .75em;
    font-weight: 400;
    padding: 30px 0 15 px;
  }

  .section-2 {
    margin: 100px auto 0;
  }

  .img {
    margin: 0 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .img img {
    width: 40%;
    display: inline;
    margin: 20px 10px;
    border-radius: 5px;
    box-shadow: -2px 2px 10px #894e9d;
    transition: 0.5s ease-in-out;
    opacity: 70%;
  }

  .img img:hover {
    transform: scale(1.2);
    box-shadow: -4px 4px 40px #894e9d;
    opacity: 100%;
  }

  .section-2 h3 {
    color: #000;
    font-size: 3em;
    text-align: center;
    padding: 60px 0;
    opacity: 20%;
  }
}
